export(bsSetup)
export(cog)
export(cogLoessRMSE)
export(cogMean)
export(cogRange)
export(cogScagnostics)
export(getDisplay)
export(htaccessGen)
export(makeInputVars)
export(makeSplodData)
export(nbDisplay)
export(nbDisplayList)
export(newNotebook)
export(noMargins)
export(plot.vdbPre)
export(print.cog)
export(splodCogFn)
export(splodPlotFn)
export(typeset)
export(vdbInit)
export(vdbPlot)
export(vdbPrepanel)
export(vdbSetLims)
export(vdbSplod)
export(vdbUpdateViewer)
export(view)
export(viewNotebook)
export(websync)
