body {
   padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
}

div.cogTable_wrapper {
   padding: 10px;
   overflow-y: hidden;
}

.nowrap {
   white-space: nowrap;
}

/* div.cogTablePageLength {
   width: 150px;
   float:left;
}
div.cogColumnFilterInput {
   width: 300px;
   float:right;
} */

div.cogTableInfo {
   width: 190px;
   float:left;
}
div.cogTablePaginate {
   width: 280px;
   float: right;
}

div.cogTablePaginate ul {
   height: 10px;
   float: right;
}

/* div.cogColumnFilterInput input {
   width: 150px;
} */

/*slightly adjust the "show x entries" so the text lines up*/
.cogTable_inputLabel {
   margin-top:3px;
}


div.cogTableWrap {
   display: table;
   margin: 0 auto;
   height: 460px;
   overflow-y: auto;
}

#paginateRow {
   height:25px;
}

#cogModal .popover {width: 400px;}

/* div.cogTablePageLength label {
	float: left;
	text-align: left;
} */

/* div.cogColumnFilterInput label {
	float: right;
	text-align:right;
} */

div.cogTablePageLength select {
	width: 60px;
}

div.cogTableInfo {
	padding-top: 8px;
}

div.cogTablePaginate {
	float: right;
	margin: 0;
}

table.cogTable {
	clear: both;
	margin-bottom: 6px !important;
}


table.cogTable thead {
/*   color: #086CA2;*/
/*   color: #62B1D0;*/
/*   color: #61CAE3;*/
/*   color: #BEC8FF;*/
   color: white;
   text-align: center;
   font-size: 14px;
   letter-spacing:-0.5px;
   background-color: #555;
   font-family: Georgia, Garamond, Times, serif;
/*   font-family: "Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;*/
}

table.cogTable th {
   padding-left: 8px;
   padding-right: 8px;
   padding-bottom: 7px;
   padding-top: 5px;
   width: 91px;
   overflow:hidden;
}

table.cogTable td {
   width:91px;
   overflow:hidden;
}

td.highlighted {
   background-color:steelblue;
}

table.cogTable td.not-numeric {
   background-image: url("../img/stripe.png");
}

/* table.cogTable i {
   margin-top: 2px;
} */

table.cogTable thead .sorting,
table.cogTable thead .sorting_asc,
table.cogTable thead .sorting_desc,
table.cogTable thead .sorting_asc_disabled,
table.cogTable thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.cogTable td {
   text-align: right;
}

table.cogTable th {
   text-align: center;
}

/*table.cogTable thead .sorting { background: url('images/sort_both.png') no-repeat center right; }*/
/*table.cogTable thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }*/
/*table.cogTable thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }*/

/*table.cogTable thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }*/
/*table.cogTable thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }*/

table.cogTable thead {
   -webkit-user-select: none; /* Chrome/Safari */        
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+ */   
}

table.cogTable th:active {
	outline: none;
}

/* other styles for the table */

select.btn-mini {
    height: auto;
    line-height: 18px;
    margin-top: -7px;
    font-size: 12px;
}

/* this is optional (see below) */
select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    padding-right: 16px;
}

select.btn-mini + .caret {
   margin-left: -20px;
   margin-right: 10px;
   margin-top: 7px;
}

.univarPlotHist {
   cursor: pointer;
}

.bivarPlotScatter {
   cursor: pointer;
   font-weight: bold;
}

.displayList {
   cursor: pointer;
}

/*.displayList:hover {
   background-color: #c4e3f3;
}*/

#editorWrapper {
   width: 500px;
   height: 285px;
}

#editor {
   position: absolute;
           top: 165px;
           right: 0;
           bottom: 0;
           left: 15px;
   width: 530px;
   height: 300px;
   border: 1px solid black;
}

.no_selection {
    -webkit-user-select: none; // webkit (safari, chrome)
    -moz-user-select: none; // mozilla browsers
    -khtml-user-select: none; // webkit (konqueror) browsers
}

.table-borderless td,
.table-borderless th {
    border: 0 !important
}

.relatedInfo {
   position:relative; 
   top:-20px; 
   background-color:lightgray;
   opacity:0.4;
   filter:alpha(opacity=40); /* For IE8 and earlier */
}


/*.modal-backdrop.awesome {
  opacity: 0;
}

.modal.awesome {
    -webkit-transition: opacity .2s linear, none;
    -moz-transition: opacity .2s linear, none;
    -ms-transition: opacity .2s linear, none;
    -o-transition: opacity .2s linear, none;
    transition: opacity .2s linear, none;
    top: 50%;
}*/

/*
.modalCog {
  position: fixed;
  z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modalCog.fade {
  top: -25%;
  -webkit-transition: opacity 0.2s linear, top 0.2s ease-out;
     -moz-transition: opacity 0.2s linear, top 0.2s ease-out;
       -o-transition: opacity 0.2s linear, top 0.2s ease-out;
          transition: opacity 0.2s linear, top 0.2s ease-out;
}

.modalCog.fade.in {
  top: 50%;
}

.modalCog-body {
  max-height: 700px;
  padding: 10px;
  overflow-y: hidden;
}

.modalCog-form {
  margin-bottom: 0;
}
*/
